@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background-color: white;
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
 /* background: url('/colorkit.webp') no-repeat center center fixed; */
  background-size: cover;
}
input, textarea {
  font-family: 'Manrope', sans-serif !important;
  padding: 5px 12px;
  box-shadow: 0px 1px 2px 0px #1018280D !important;
  border: 1px solid  #E2E8F0 !important;
  padding: 9px 12px;

}

input:focus, textarea:focus {
  outline: none;
}


.react-tel-input .form-control {
  width: 100% !important;
}

button.bg-blue-500.text-white.p-2.w-full {
  background-color: #793ee6;
}

.react-tel-input .form-control {
  height: 35px !important;
}
input  {
  box-shadow: 0px 1px 2px 0px #1018280D !important;
  border: 1px solid  #E2E8F0 !important;
  border-radius: 8px;
}
header {
  background: #7E43E9 !important;
}
h1 {
  color: black;
}
input.border.border-gray-300.p-3.w-full.rounded-lg.focus\:ring-2.focus\:ring-purple-500 {
  color: black;
}

textarea.border.border-gray-300.p-3.w-full.rounded-lg.focus\:ring-2.focus\:ring-purple-500{
  color: #000 !important;
}
label {
 color: #334155 !important;
 margin-bottom: 6px;
}
.react-tel-input {
  font-family: 'Manrope', sans-serif;
}
.imagediv {
  max-width: 644px;
}
.formdiv {
  max-width: 644px;
}

.maindiv {
  max-width: 1103px;
  display: flex
;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 30px;
  padding: 3%;
}

p.fillform {
  color: #64748B;
  text-align: center;
}
input::placeholder {
  color: #E2E8F0 !important;
 
}
textarea::placeholder {
  color: #E2E8F0 !important;
}
textarea {
  color: #000 !important;
  border-radius: 8px;
}

li.country {
  background: #9333ea;
}
li span.dial-code {
  color: rgb(255, 255, 255) !important;
}
li:hover span.dial-code {
  color: rgb(0, 0, 0) !important;
}

.react-tel-input .country-list .country .dial-code {
  color: #000;
}
.react-tel-input .country-list .country:hover {

  color: black !important;
}
button {
  padding: 12px;
  border-radius: 48px;
}
input {
  color: #000;
}
li:focus .country-name  {
  color: rgb(0, 0, 0) !important;
}

.react-tel-input .country-list .country.highlight{
  color: black;
}
li.country.preferred.active.highlight .dial-code{
  color: black !important;
}
img.mx-w-full.h-auto {
  height: 500px;
  object-fit: contain;
}
.test {
  width: 50%;
}
button.backq {
  padding: 12px 25px;
  width: 120px !important;
  background: black;
}
button.nextq, button.submitq {
  padding: 12px 25px;
  width: 120px !important;
  background: #7D3EDE;
}
.formq {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media only screen and (max-width:767px) {
  .maindiv {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .imagediv {
    max-width: 100%;
  }
  .formdiv {
    max-width: 100%;
  }
  .test {
    width: 100%;
  }
  input {
    font-size: 12px;
}
p.fillform {
  font-size: 16px;
  line-height: 22px;
}
label {
  font-size: 14px;
}
.maindiv {
  padding: 3% 4%;
}
}