@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  font-family: Manrope, Helvetica, sans-serif;
  background: url('/colorkit.webp') no-repeat center center fixed;
  background-size: cover;
}


.react-tel-input .form-control {
  width: 100% !important;
}
button.bg-blue-500.text-white.p-2.w-full {
  background-color: #793ee6;
}

.react-tel-input .form-control {
  height: 100% !important;
}
input.border.p-2.w-full {
  color: black !important;
}
header {
  background: #7E43E9 !important;
}
h1 {
  color: black;
}
input.border.border-gray-300.p-3.w-full.rounded-lg.focus\:ring-2.focus\:ring-purple-500 {
  color: black;
}
body {
  padding: 0 16px 16px 16px;
}